<div id="textSlider" class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 iamCol">
        <!-- <p>Matla</p>
        <p>Life Investments</p> -->
        <img class="logo" src="matla-life.svg" alt="">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 slideCol">
        <div class="scroller">
            <div class="inner">
                <p>Government workers</p>
                <p>Everyday South Africans</p>
                <p>Smart Cover</p>
                <p>Effective plans</p>
            </div>
        </div>
    </div>

</div>