<div class="slider-track"
style="
--quantity:7; ">
    <div class="slide" style="--position:1">
        <img style="width: 100%;" src="images/public-service-workers/black-teacher.jpg" alt="">
    </div>
    <div class="slide" style="--position:2">
        <img style="width: 100%;" src="images/public-service-workers/police-officers.jpg" alt="">
    </div>
    <div class="slide" style="--position:3">
        <img style="width: 100%;" src="images/public-service-workers/nurses.jpg" alt="">
    </div>
    <div class="slide" style="--position:4">
        <img style="width: 100%;" src="images/public-service-workers/firefighter.png" alt="">
    </div>
    <div class="slide" style="--position:5"></div>
    <div class="slide" style="--position:6"></div>
    <div class="slide" style="--position:7"></div>
</div>