<div class="video-background">
        <video autoplay
        muted
        loop
        #video>
   <source src="landing-background.mp4"
           poster="https://media.istockphoto.com/id/2161140215/photo/african-woman-lawyer-and-meeting-for-negotiation-with-clients-for-advice-information-or.jpg?s=2048x2048&w=is&k=20&c=laGnWFujPEaPIzdSXJQI739wNXhQIVKLOyZOnwxQh7k="
           type="video/mp4">
   <!-- <source src="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.webm" type="video/webm">
     <source src="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.ogv" type="video/ogg"> -->
 </video>
</div>
<app-text-slider/>
<!-- <img class="matla-logo" src="matla-life.svg" alt=""> -->
<img class="feature-image" src="images/feature-lady-2.png" alt="">
<!-- <img class="logo" src="matla-life.svg" alt=""> -->
<app-slider/>
